.advantages {
	grid-area: advantages;
	width: 100%;
	min-height: 490px;
	padding: 80px 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.advantages__title {
	margin: 0 0 64px 0;
	font-size: 46px;
	line-height: 54px;
	letter-spacing: 0.8px;
}

.advantages__container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.advantages__item {
	width: 240px;
	min-height: 210px;
	box-sizing: border-box;
	margin-right: 24px;	
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	align-items: center;
}

.advantages__item:last-child {
	margin-right: 0;
}

.advantages__itemImage {
	height: 56px;
	width: 100%;
	max-width: 72px;
}

.advantages__itemImage--cup {
	background: url(../img/cup.svg) no-repeat center;
	background-size: cover;
}

.advantages__itemImage--expert {
	background: url(../img/expert.svg) no-repeat center;
	background-size: cover;
}

.advantages__itemImage--clock {
	background: url(../img/clock.svg) no-repeat center;
	background-size: cover;
}

.advantages__itemImage--human {
	background: url(../img/human.svg) no-repeat center;
	background-size: cover;
}

.advantages__itemInfo {
	padding: 32px 0px 0px;
	color: var(--c-midnight);
	text-align: center;
}

.advantages__itemTitle {
	margin: 0 0 16px;
	font-family: var(--f-reg);
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.6px;
}

.advantages__itemDescription {
	margin: 0;
	font-family: var(--f-light);
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 0.4px;
}

