.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--c-ozon-blue);
	color: var(--c-white);
	font-size: 22px;
	line-height: 20px;
	letter-spacing: 0.7px;
	text-decoration: none;
	padding: 22px 32px;
	border-radius: 8px;
}
