.footer {
	grid-area: footer;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-height: 60px;
	padding: 80px 0;
}

.footer__copyright {
	font-family: var(--f-light);
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.4px;
	color: var(--c-midnight);
}

.footer__socialIcons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__socialIcons--item {
	margin-right: 10px;
}

.footer__socialIcons--item:last-of-type {
	margin-right: 0px;
}

.footer__tagline {
	display: none;
}

@media(max-width:1054px) {
	.footer__copyright {
		text-align: center;
		box-sizing: border-box;
		padding: 0 15px;
	}
	.footer__socialIcons {
		box-sizing: border-box;
		padding-right:15px;}
}

@media(max-width:1000px) {
	.footer {
		flex-direction: column;
		justify-content: center;
		padding: 56px 16px;
		min-width: 360px;
		box-sizing: border-box;
	}

	.footer__mainLogo {
		padding-bottom: 34px;
	}

	.footer__mainLogoImage {
		width: 156px;
		height: 50px;
	}

	.footer__tagline {
		padding-bottom: 34px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: var(--f-bold);
		font-size: 22px;
		line-height: 26px;
		letter-spacing: 0.6px;
	}

	.footer__copyright {
		text-align: center;
		padding: 0 0 34px;
	}

	.footer__socialIcons {
		padding-bottom: 34px;
		padding-right: 0;
	}
}
