@import './variables.css';
@import './font.css';
@import './normalize.css';
@import './header.css';
@import './hero.css';
@import './common.css';
@import './courses.css';
@import './advantages.css';
@import './request.css';
@import './footer.css';

.mainWrappper {
	--side-gap: 0px;
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
	display: grid;
	/*
	grid-template-areas:
		'header'
		'heroFirst'
		'courses'
		'heroSecond'
		'advantages'
		'request'
		'footer';
		grid-template-columns: 1fr;
*/
	grid-template-areas:
		'. header .'
		'. heroFirst .'
		'. courses .'
		'. heroSecond .'
		'. advantages .'
		'request request request'
		'. footer .';
	grid-template-columns: var(--side-gap) 1fr var(--side-gap);
	font-family: var(--f-reg);
	color: var(--c-midnight);
}

@media (min-width:1001px) {
	.mainWrappper {
		--side-gap: 46px;
	}

	/*
		.smallWrapper {
		max-width: 1416px;
		width: 100%;
		margin: 0 auto;
	}
*/
}

@media(min-width:1509px) {
	.mainWrappper {
		--side-gap: 92px;
	}

}
