@import './variables.css';
@import './font.css';
@import './normalize.css';
@import './header.css';
@import './hero.css';
@import './common.css';
@import './courses.css';
@import './advantages.css';
@import './request.css';
@import './footer.css';

.mainWrappper {
	--side-gap: 92px;
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-areas:
		'. header .'
		'. heroFirst .'
		'. courses .'
		'. heroSecond .'
		'. advantages .'
		'request request request'
		'. footer .';
	grid-template-columns: var(--side-gap) 1fr var(--side-gap);
	font-family: var(--f-reg);
	color: var(--c-midnight);
}

@media (max-width: 1508px) {
	.mainWrapper {
		--side-gap: 46px;
	}
}

@media (max-width: 1000px) {
	.mainWrapper {
		--side-gap: 0px;
	}
}
