:root{
	--f-reg: "osReg";
	--f-bold: "osBold";
	--f-light: "osLight";
	
	--c-midnight: #001A34;
	--c-white: #FFFFFF;
	--c-ozon-blue: #005BFF;
	--c-cadet-blue: #B2BAC2;
	--c-cadet-blue-10: #E0EBFF;
	--c-cadet-blue-50: #7FADFF;
	--c-mystic: #DEE5EA;
	--c-dark-space: #667585;
	--c-aqua-hace: #eff3f6;
	--c-geyser: #CCD4DB;
}